<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="LocalFileGDBPath" value="C:\\Dropbox\\sandbox\\rec.gdb" />
    <add key="AGOLAPIBase" value="http://services.arcgis.com/example/ArcGIS/rest/services" />
  </appSettings>
</configuration>